/* project: kyrgyzstan template
   author: snegny (www.kyrgyzstan.org, foranycase@gmail.com)  */
   
/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, Arial, Helvetica, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #6E6D6D; 
	background:url(/files/fon.gif) repeat-x;
	height:100%;
}


a {
	color: #BC0606;
	text-decoration:none;
	background: inherit;
}

a:hover {
	color: #BC0606;
	text-decoration:underline;
	background: inherit;	
}

a.title {
	color: #FE6700;
	background: #FFF;
}

h1 {
	font: bold 2em Arial, Sans-Serif;
	letter-spacing: -1px; 
	padding: 7px 0 0 8px;
	margin: 0;
}

h1 a, h2 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	color: #6E6D6D;
	background: #FFF;
}


h2 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}


h2 { 
	font-size: 11px;
	margin-bottom: 5px; 
	color: #6E6D6D;
  background: inherit;
}

p {	
	margin: 0 0 5px 0;
	
}

ul { 
	margin: 0; 
	padding : 0; 
	list-style : none;
/*	list-style-image:url(/files/dot.gif) */
	
}

form { 
	margin: 0; 
}

input.search { 
	width: 199px; 
	border: none;
	background: url(images/input.gif); 
	padding: 4px; 
}

input.login { 
	width: 150px;
	border: none; 
	background: url(images/logininput.gif); 
	padding: 4px; 
}

/* layout
   ------ */

.main0 { 
padding:0px;        
margin:0px auto;
padding:60px 0 0 0;
width:800px;
height:100%;
background:url(/files/shapka.gif) no-repeat;
}

.main { 
padding:0px;        
margin:0px auto;
text-align:left; /** restore text align on left **/
width:760px;
height:100%;

}

.header { 
height: 45px; 
width:758px;
}

.top_info {
	float: left;
	width:758px;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #eee;
}

.top_info_left {
	float: left;
	width: 200px;
	padding: 0 0 0 0;
	
}

.top_info_right {
	float: right;
	width: 300px;
	padding: 0 0 0 35px;
	border-left: 1px solid #eee;
}

.slogan {
	font-size: 0.9em;
	width: 100px;
}


.bar { 
	clear: both;
	font-size: 1.1em;
	height: 30px; 

	margin: 0 0 0 0px;
	
}

.bar li { 
	margin: 0; 
	padding: 4px 10px 8px 10px;
	color: #808080;
	background: #FFF;
	float: left; 
	
}

.bar li a.active { 
	background: #FFF url(images/bar.gif) no-repeat center bottom; 
	color: #FFCCCC;
	font-weight: bold; 
	padding-bottom: 8px; 
}

.bar a { 
	font-weight: bold;
	color: #CF4756; 
	background: inherit;	

} 

#search .form-item {
  float: none;
}
#search_box .form-text {
	width: 100px;
	border: none;
	background: url(images/input_blue.gif);
	padding: 4px;
}

.subheader {
	margin: 3px 0 0px 0;
	padding: 8px;
	background: #f4f4f4 url(images/subheaderbg.gif) no-repeat;
	color: #808080;
	border-bottom: 1px solid #ccc;
}

/* left side
   --------- */

   


   
.left {
	float: left;
width: 390px;
	margin: 10px 0 10px 0px;
}

.middle {
float: left;
	
	margin: 200px 0px 0px 10px;
	
}


.left_admin_view {
	width: 610px;
}
.left_articles {
	margin: 0px 0 10px 0;
}

.node {
	padding: 0;	
	margin: 0 0 5px 0;
}

.left_articles .links {
	text-align: right;
	margin: -10px 0 0px 0;
}

.left_links {
	border: 1px solid #eee;
	padding: 10px 10px 10px 15px;	
	margin: 0 0 10px 0;
}

.left_links:hover {
	border: 1px solid #ccc;
}

.left_message {
  clear: both;
	border: 1px solid #eee;
	padding: 10px 10px 10px 75px;	
	margin: 0 0 10px 0;
	background: #fff url(images/questionmark.gif) no-repeat center left;
	color: #6E6D6D; 
}

.left_message:hover {
	border: 1px solid #ccc;
}
	
.left_side {
	float: left;
	width: 180px;
}

.right_side {
	float: right;
	width: 200px;
	border-left: 1px solid #eee;
	padding: 0 0 0 20px;
}

.left_box {
  background: #f4f4f4;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  clear: both;
}
	
/* right side
   ---------- */
		
.right {
	float: right;
	width: 228px;
	margin: 10px 0 10px 0;
}

.right_admin {
	float: right;
	margin: 10px 0 10px 5px;
	width: 125px;
	border: 1px solid #eee;
	padding: 8px;	
}
.right_admin:hover {
	border: 1px solid #ccc;
}

.right_admin li li {
	margin: 0 0 0 15px;
}

.right_login {
	padding: 10px;
	margin: 0 0 10px 0;
	background: #FFCCCC;
	color: #246088;
	border-top: 1px solid #CF4756;
	border-bottom: 1px solid #CF4756;
}

.bashka {
    border-top: 1px solid #014B7F;
	border-bottom: 2px solid #014B7F;
	padding: 2px;	
	margin: 0 0 10px 0;
}

.right_articles .block {
	padding: 5px;	
	margin: 0 0 10px 0;
}
	
.image {
	float: left;
	margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer { 
	clear: both; 
	text-align: center;
	line-height: 1.8em;
	color: #808080;
	background: #FFF;
	padding: 10px 0 10px 0;
	border-top: 1px solid #eee;
}

.footer a {
	color: #808080;
	background: #fff;
}


/* other
   ------ */
#user-login-form {
  text-align: left;
}

.top_info_right .form-item {
  float: left;
}

.form-item {
	margin: 0 4px 2px 0;
	padding: 0;
}
#user-login-form .form-submit {
  float: left;
	margin-top: 1.5em;
}  
#user-login-form input {
	font: 1em Arial, sans-serif; 
	line-height: 1.5em;
}
#user-login-form .item-list {
  float: left;
}
#user-login-form .item-list ul,
#user-login-form .item-list ul li {
	list-style-type: none;
	display: inline;
	margin: 0 10px 0px 0;
	padding: 0;
}
div.dashboard-panel-head {
	background: #FFCCCC;
	color: #246088;
	border-top: 1px solid #CF4756;
	border-bottom: 1px solid #CF4756;
	padding: 2px 2px 2px 5px;
	margin: 0px;
}
div.dashboard-panel-head a:link, div.dashboard-panel-head a:visited {
	color: #6E6D6D;
}
div.dashboard-panel a {
	background: none; 
}

.calendar {
	width: 170px;
	padding: 0px 0px 0px 45px;
	margin: 0px;
}
.calendar table {
  border: 1px solid #eee;
}
.calendar td, .calendar th {
  border: 1px solid #ccc;
}

.hotelads{
margin:0px; padding:0px;
margin-top:12px;
padding:0 0 0 0;
font-size:10px;
border-bottom: 1px dotted #014B7F;
}

.hotelads img{
float:left;
margin:0px; padding:0px;
margin:0 7px 6px 0;
padding:2px;
background:url(/files/hotel-border.gif) no-repeat;
}
